a.pink {
  display: block;
  border: 2px solid #fd45cc;
  width: 100%;
  padding: 15px 0;
  border-radius: 5px;
  background: transparent;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
}
