.SignupDetails {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 17px;
  margin-bottom: 40px;
  text-align: left !important;
}
.SignupDetails h2 {
  text-align: center;
}
.SignupDetails h4 {
  margin-bottom: 12px;
  margin-top: 30px;
  border-bottom: 1px solid #fd45cc;
}

.SignupDetails .input {
  border: 1px solid #fd45cc;
  box-shadow: 0 2px 4px rgba(253, 69, 204, 0.5);
}

.SignupDetails .select {
  border: 1px solid #fd45cc;
  box-shadow: 0 2px 4px rgba(253, 69, 204, 0.5);
}

.SignupDetails .button {
  border: 1px solid #fd45cc;
  box-shadow: 0 2px 4px rgba(253, 69, 204, 0.5);
}
